body {
    background-image: url("./background.webp");
}

.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.f-group {
    float: left;
}

.f-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 25px;
}

select {
    border : 1px solid #555;
    height: 40px;
    width: 200px;
    padding: 0 15px;
    margin-right: 20px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px 28px 10px 10px;
}
.button button {
    font-size: 25px;
    padding: 10px 250px 10px 250px;
}